/*
moon-vault-api

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// OnramperAPIService OnramperAPI service
type OnramperAPIService service

type ApiOnRamperCheckoutRequest struct {
	ctx context.Context
	ApiService *OnramperAPIService
	authorization *string
	accountName string
	transactionInput *TransactionInput
}

func (r ApiOnRamperCheckoutRequest) Authorization(authorization string) ApiOnRamperCheckoutRequest {
	r.authorization = &authorization
	return r
}

func (r ApiOnRamperCheckoutRequest) TransactionInput(transactionInput TransactionInput) ApiOnRamperCheckoutRequest {
	r.transactionInput = &transactionInput
	return r
}

func (r ApiOnRamperCheckoutRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.OnRamperCheckoutExecute(r)
}

/*
OnRamperCheckout Method for OnRamperCheckout

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountName
 @return ApiOnRamperCheckoutRequest
*/
func (a *OnramperAPIService) OnRamperCheckout(ctx context.Context, accountName string) ApiOnRamperCheckoutRequest {
	return ApiOnRamperCheckoutRequest{
		ApiService: a,
		ctx: ctx,
		accountName: accountName,
	}
}

// Execute executes the request
//  @return interface{}
func (a *OnramperAPIService) OnRamperCheckoutExecute(r ApiOnRamperCheckoutRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OnramperAPIService.OnRamperCheckout")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/onramper/fund/${accountName}"
	localVarPath = strings.Replace(localVarPath, "{"+"accountName"+"}", url.PathEscape(parameterValueToString(r.accountName, "accountName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.transactionInput == nil {
		return localVarReturnValue, nil, reportError("transactionInput is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	// body params
	localVarPostBody = r.transactionInput
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOnRamperGetQuotesBuyRequest struct {
	ctx context.Context
	ApiService *OnramperAPIService
	authorization *string
	fiat *string
	crypto *string
	amount *float64
	paymentMethod *string
	uuid *string
	clientName *string
	country *string
}

func (r ApiOnRamperGetQuotesBuyRequest) Authorization(authorization string) ApiOnRamperGetQuotesBuyRequest {
	r.authorization = &authorization
	return r
}

func (r ApiOnRamperGetQuotesBuyRequest) Fiat(fiat string) ApiOnRamperGetQuotesBuyRequest {
	r.fiat = &fiat
	return r
}

func (r ApiOnRamperGetQuotesBuyRequest) Crypto(crypto string) ApiOnRamperGetQuotesBuyRequest {
	r.crypto = &crypto
	return r
}

func (r ApiOnRamperGetQuotesBuyRequest) Amount(amount float64) ApiOnRamperGetQuotesBuyRequest {
	r.amount = &amount
	return r
}

func (r ApiOnRamperGetQuotesBuyRequest) PaymentMethod(paymentMethod string) ApiOnRamperGetQuotesBuyRequest {
	r.paymentMethod = &paymentMethod
	return r
}

func (r ApiOnRamperGetQuotesBuyRequest) Uuid(uuid string) ApiOnRamperGetQuotesBuyRequest {
	r.uuid = &uuid
	return r
}

func (r ApiOnRamperGetQuotesBuyRequest) ClientName(clientName string) ApiOnRamperGetQuotesBuyRequest {
	r.clientName = &clientName
	return r
}

func (r ApiOnRamperGetQuotesBuyRequest) Country(country string) ApiOnRamperGetQuotesBuyRequest {
	r.country = &country
	return r
}

func (r ApiOnRamperGetQuotesBuyRequest) Execute() ([]Quote, *http.Response, error) {
	return r.ApiService.OnRamperGetQuotesBuyExecute(r)
}

/*
OnRamperGetQuotesBuy Method for OnRamperGetQuotesBuy

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOnRamperGetQuotesBuyRequest
*/
func (a *OnramperAPIService) OnRamperGetQuotesBuy(ctx context.Context) ApiOnRamperGetQuotesBuyRequest {
	return ApiOnRamperGetQuotesBuyRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []Quote
func (a *OnramperAPIService) OnRamperGetQuotesBuyExecute(r ApiOnRamperGetQuotesBuyRequest) ([]Quote, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Quote
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OnramperAPIService.OnRamperGetQuotesBuy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/onramper/quotes/buy"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.fiat == nil {
		return localVarReturnValue, nil, reportError("fiat is required and must be specified")
	}
	if r.crypto == nil {
		return localVarReturnValue, nil, reportError("crypto is required and must be specified")
	}
	if r.amount == nil {
		return localVarReturnValue, nil, reportError("amount is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "fiat", r.fiat, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "crypto", r.crypto, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "amount", r.amount, "")
	if r.paymentMethod != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "paymentMethod", r.paymentMethod, "")
	} else {
		var defaultValue string = "creditcard"
		r.paymentMethod = &defaultValue
	}
	if r.uuid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "uuid", r.uuid, "")
	} else {
		var defaultValue string = ""
		r.uuid = &defaultValue
	}
	if r.clientName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "clientName", r.clientName, "")
	} else {
		var defaultValue string = ""
		r.clientName = &defaultValue
	}
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "")
	} else {
		var defaultValue string = ""
		r.country = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOnRamperGetQuotesSellRequest struct {
	ctx context.Context
	ApiService *OnramperAPIService
	authorization *string
	fiat *string
	crypto *string
	amount *float64
	paymentMethod *string
	uuid *string
	clientName *string
	country *string
}

func (r ApiOnRamperGetQuotesSellRequest) Authorization(authorization string) ApiOnRamperGetQuotesSellRequest {
	r.authorization = &authorization
	return r
}

func (r ApiOnRamperGetQuotesSellRequest) Fiat(fiat string) ApiOnRamperGetQuotesSellRequest {
	r.fiat = &fiat
	return r
}

func (r ApiOnRamperGetQuotesSellRequest) Crypto(crypto string) ApiOnRamperGetQuotesSellRequest {
	r.crypto = &crypto
	return r
}

func (r ApiOnRamperGetQuotesSellRequest) Amount(amount float64) ApiOnRamperGetQuotesSellRequest {
	r.amount = &amount
	return r
}

func (r ApiOnRamperGetQuotesSellRequest) PaymentMethod(paymentMethod string) ApiOnRamperGetQuotesSellRequest {
	r.paymentMethod = &paymentMethod
	return r
}

func (r ApiOnRamperGetQuotesSellRequest) Uuid(uuid string) ApiOnRamperGetQuotesSellRequest {
	r.uuid = &uuid
	return r
}

func (r ApiOnRamperGetQuotesSellRequest) ClientName(clientName string) ApiOnRamperGetQuotesSellRequest {
	r.clientName = &clientName
	return r
}

func (r ApiOnRamperGetQuotesSellRequest) Country(country string) ApiOnRamperGetQuotesSellRequest {
	r.country = &country
	return r
}

func (r ApiOnRamperGetQuotesSellRequest) Execute() ([]SellQuote, *http.Response, error) {
	return r.ApiService.OnRamperGetQuotesSellExecute(r)
}

/*
OnRamperGetQuotesSell Method for OnRamperGetQuotesSell

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOnRamperGetQuotesSellRequest
*/
func (a *OnramperAPIService) OnRamperGetQuotesSell(ctx context.Context) ApiOnRamperGetQuotesSellRequest {
	return ApiOnRamperGetQuotesSellRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []SellQuote
func (a *OnramperAPIService) OnRamperGetQuotesSellExecute(r ApiOnRamperGetQuotesSellRequest) ([]SellQuote, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SellQuote
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OnramperAPIService.OnRamperGetQuotesSell")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/onramper/quotes/sell"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.fiat == nil {
		return localVarReturnValue, nil, reportError("fiat is required and must be specified")
	}
	if r.crypto == nil {
		return localVarReturnValue, nil, reportError("crypto is required and must be specified")
	}
	if r.amount == nil {
		return localVarReturnValue, nil, reportError("amount is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "fiat", r.fiat, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "crypto", r.crypto, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "amount", r.amount, "")
	if r.paymentMethod != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "paymentMethod", r.paymentMethod, "")
	} else {
		var defaultValue string = "creditcard"
		r.paymentMethod = &defaultValue
	}
	if r.uuid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "uuid", r.uuid, "")
	} else {
		var defaultValue string = ""
		r.uuid = &defaultValue
	}
	if r.clientName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "clientName", r.clientName, "")
	} else {
		var defaultValue string = ""
		r.clientName = &defaultValue
	}
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "")
	} else {
		var defaultValue string = ""
		r.country = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOnRamperGetSupportedAssetsRequest struct {
	ctx context.Context
	ApiService *OnramperAPIService
	authorization *string
	source *string
	country *string
}

func (r ApiOnRamperGetSupportedAssetsRequest) Authorization(authorization string) ApiOnRamperGetSupportedAssetsRequest {
	r.authorization = &authorization
	return r
}

func (r ApiOnRamperGetSupportedAssetsRequest) Source(source string) ApiOnRamperGetSupportedAssetsRequest {
	r.source = &source
	return r
}

func (r ApiOnRamperGetSupportedAssetsRequest) Country(country string) ApiOnRamperGetSupportedAssetsRequest {
	r.country = &country
	return r
}

func (r ApiOnRamperGetSupportedAssetsRequest) Execute() (*SupportedAssetResponse, *http.Response, error) {
	return r.ApiService.OnRamperGetSupportedAssetsExecute(r)
}

/*
OnRamperGetSupportedAssets Method for OnRamperGetSupportedAssets

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOnRamperGetSupportedAssetsRequest
*/
func (a *OnramperAPIService) OnRamperGetSupportedAssets(ctx context.Context) ApiOnRamperGetSupportedAssetsRequest {
	return ApiOnRamperGetSupportedAssetsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SupportedAssetResponse
func (a *OnramperAPIService) OnRamperGetSupportedAssetsExecute(r ApiOnRamperGetSupportedAssetsRequest) (*SupportedAssetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SupportedAssetResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OnramperAPIService.OnRamperGetSupportedAssets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/onramper/assets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.source == nil {
		return localVarReturnValue, nil, reportError("source is required and must be specified")
	}
	if r.country == nil {
		return localVarReturnValue, nil, reportError("country is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOnRamperGetSupportedCurrenciesRequest struct {
	ctx context.Context
	ApiService *OnramperAPIService
	authorization *string
	type_ *string
}

func (r ApiOnRamperGetSupportedCurrenciesRequest) Authorization(authorization string) ApiOnRamperGetSupportedCurrenciesRequest {
	r.authorization = &authorization
	return r
}

func (r ApiOnRamperGetSupportedCurrenciesRequest) Type_(type_ string) ApiOnRamperGetSupportedCurrenciesRequest {
	r.type_ = &type_
	return r
}

func (r ApiOnRamperGetSupportedCurrenciesRequest) Execute() (*SupportedCurrenciesResponse, *http.Response, error) {
	return r.ApiService.OnRamperGetSupportedCurrenciesExecute(r)
}

/*
OnRamperGetSupportedCurrencies Method for OnRamperGetSupportedCurrencies

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOnRamperGetSupportedCurrenciesRequest
*/
func (a *OnramperAPIService) OnRamperGetSupportedCurrencies(ctx context.Context) ApiOnRamperGetSupportedCurrenciesRequest {
	return ApiOnRamperGetSupportedCurrenciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SupportedCurrenciesResponse
func (a *OnramperAPIService) OnRamperGetSupportedCurrenciesExecute(r ApiOnRamperGetSupportedCurrenciesRequest) (*SupportedCurrenciesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SupportedCurrenciesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OnramperAPIService.OnRamperGetSupportedCurrencies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/onramper/currencies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOnRamperGetSupportedDefaultsAllRequest struct {
	ctx context.Context
	ApiService *OnramperAPIService
	authorization *string
	country *string
	type_ *string
}

func (r ApiOnRamperGetSupportedDefaultsAllRequest) Authorization(authorization string) ApiOnRamperGetSupportedDefaultsAllRequest {
	r.authorization = &authorization
	return r
}

func (r ApiOnRamperGetSupportedDefaultsAllRequest) Country(country string) ApiOnRamperGetSupportedDefaultsAllRequest {
	r.country = &country
	return r
}

func (r ApiOnRamperGetSupportedDefaultsAllRequest) Type_(type_ string) ApiOnRamperGetSupportedDefaultsAllRequest {
	r.type_ = &type_
	return r
}

func (r ApiOnRamperGetSupportedDefaultsAllRequest) Execute() (*SupportedDefaultResponse, *http.Response, error) {
	return r.ApiService.OnRamperGetSupportedDefaultsAllExecute(r)
}

/*
OnRamperGetSupportedDefaultsAll Method for OnRamperGetSupportedDefaultsAll

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOnRamperGetSupportedDefaultsAllRequest
*/
func (a *OnramperAPIService) OnRamperGetSupportedDefaultsAll(ctx context.Context) ApiOnRamperGetSupportedDefaultsAllRequest {
	return ApiOnRamperGetSupportedDefaultsAllRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SupportedDefaultResponse
func (a *OnramperAPIService) OnRamperGetSupportedDefaultsAllExecute(r ApiOnRamperGetSupportedDefaultsAllRequest) (*SupportedDefaultResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SupportedDefaultResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OnramperAPIService.OnRamperGetSupportedDefaultsAll")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/onramper/defaults"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.country == nil {
		return localVarReturnValue, nil, reportError("country is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOnRamperGetSupportedOnRampsAllRequest struct {
	ctx context.Context
	ApiService *OnramperAPIService
	authorization *string
}

func (r ApiOnRamperGetSupportedOnRampsAllRequest) Authorization(authorization string) ApiOnRamperGetSupportedOnRampsAllRequest {
	r.authorization = &authorization
	return r
}

func (r ApiOnRamperGetSupportedOnRampsAllRequest) Execute() (*GetSupportedOnRampsResponse, *http.Response, error) {
	return r.ApiService.OnRamperGetSupportedOnRampsAllExecute(r)
}

/*
OnRamperGetSupportedOnRampsAll Method for OnRamperGetSupportedOnRampsAll

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOnRamperGetSupportedOnRampsAllRequest
*/
func (a *OnramperAPIService) OnRamperGetSupportedOnRampsAll(ctx context.Context) ApiOnRamperGetSupportedOnRampsAllRequest {
	return ApiOnRamperGetSupportedOnRampsAllRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetSupportedOnRampsResponse
func (a *OnramperAPIService) OnRamperGetSupportedOnRampsAllExecute(r ApiOnRamperGetSupportedOnRampsAllRequest) (*GetSupportedOnRampsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSupportedOnRampsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OnramperAPIService.OnRamperGetSupportedOnRampsAll")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/onramper/onramps"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOnRamperGetSupportedPaymentTypesRequest struct {
	ctx context.Context
	ApiService *OnramperAPIService
	authorization *string
	fiat *string
	country *string
	type_ *string
}

func (r ApiOnRamperGetSupportedPaymentTypesRequest) Authorization(authorization string) ApiOnRamperGetSupportedPaymentTypesRequest {
	r.authorization = &authorization
	return r
}

func (r ApiOnRamperGetSupportedPaymentTypesRequest) Fiat(fiat string) ApiOnRamperGetSupportedPaymentTypesRequest {
	r.fiat = &fiat
	return r
}

func (r ApiOnRamperGetSupportedPaymentTypesRequest) Country(country string) ApiOnRamperGetSupportedPaymentTypesRequest {
	r.country = &country
	return r
}

func (r ApiOnRamperGetSupportedPaymentTypesRequest) Type_(type_ string) ApiOnRamperGetSupportedPaymentTypesRequest {
	r.type_ = &type_
	return r
}

func (r ApiOnRamperGetSupportedPaymentTypesRequest) Execute() (*SupportedPaymentTypesCurrencyResponse, *http.Response, error) {
	return r.ApiService.OnRamperGetSupportedPaymentTypesExecute(r)
}

/*
OnRamperGetSupportedPaymentTypes Method for OnRamperGetSupportedPaymentTypes

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOnRamperGetSupportedPaymentTypesRequest
*/
func (a *OnramperAPIService) OnRamperGetSupportedPaymentTypes(ctx context.Context) ApiOnRamperGetSupportedPaymentTypesRequest {
	return ApiOnRamperGetSupportedPaymentTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SupportedPaymentTypesCurrencyResponse
func (a *OnramperAPIService) OnRamperGetSupportedPaymentTypesExecute(r ApiOnRamperGetSupportedPaymentTypesRequest) (*SupportedPaymentTypesCurrencyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SupportedPaymentTypesCurrencyResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OnramperAPIService.OnRamperGetSupportedPaymentTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/onramper/payment-types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.fiat == nil {
		return localVarReturnValue, nil, reportError("fiat is required and must be specified")
	}
	if r.country == nil {
		return localVarReturnValue, nil, reportError("country is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "fiat", r.fiat, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOnRamperGetSupportedPaymentTypesFiatRequest struct {
	ctx context.Context
	ApiService *OnramperAPIService
	authorization *string
	fiat *string
	country *string
}

func (r ApiOnRamperGetSupportedPaymentTypesFiatRequest) Authorization(authorization string) ApiOnRamperGetSupportedPaymentTypesFiatRequest {
	r.authorization = &authorization
	return r
}

func (r ApiOnRamperGetSupportedPaymentTypesFiatRequest) Fiat(fiat string) ApiOnRamperGetSupportedPaymentTypesFiatRequest {
	r.fiat = &fiat
	return r
}

func (r ApiOnRamperGetSupportedPaymentTypesFiatRequest) Country(country string) ApiOnRamperGetSupportedPaymentTypesFiatRequest {
	r.country = &country
	return r
}

func (r ApiOnRamperGetSupportedPaymentTypesFiatRequest) Execute() (*SupportedPaymentTypesCurrencyResponse, *http.Response, error) {
	return r.ApiService.OnRamperGetSupportedPaymentTypesFiatExecute(r)
}

/*
OnRamperGetSupportedPaymentTypesFiat Method for OnRamperGetSupportedPaymentTypesFiat

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOnRamperGetSupportedPaymentTypesFiatRequest
*/
func (a *OnramperAPIService) OnRamperGetSupportedPaymentTypesFiat(ctx context.Context) ApiOnRamperGetSupportedPaymentTypesFiatRequest {
	return ApiOnRamperGetSupportedPaymentTypesFiatRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SupportedPaymentTypesCurrencyResponse
func (a *OnramperAPIService) OnRamperGetSupportedPaymentTypesFiatExecute(r ApiOnRamperGetSupportedPaymentTypesFiatRequest) (*SupportedPaymentTypesCurrencyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SupportedPaymentTypesCurrencyResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OnramperAPIService.OnRamperGetSupportedPaymentTypesFiat")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/onramper/payment-types/fiat"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.fiat == nil {
		return localVarReturnValue, nil, reportError("fiat is required and must be specified")
	}
	if r.country == nil {
		return localVarReturnValue, nil, reportError("country is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "fiat", r.fiat, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
