openapi: 3.0.0
info:
  contact: {}
  license:
    name: ISC
  title: moon-vault-api
  version: 1.0.0
servers:
- url: https://vault-api.usemoon.ai
paths:
  /oneinch/tokens:
    post:
      operationId: Tokens
      parameters: []
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - oneinch
  /oneinch/protocols:
    post:
      operationId: Protocols
      parameters: []
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - oneinch
  /oneinch/quote:
    post:
      operationId: Quote
      parameters: []
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - oneinch
  /oneinch/{accountName}/swap:
    post:
      operationId: Swap
      parameters:
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSwapDto'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - oneinch
  /oneinch/approve-spender:
    post:
      operationId: ApproveSpender
      parameters: []
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - oneinch
  /oneinch/approve-call-data:
    post:
      operationId: ApproveCallData
      parameters: []
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - oneinch
  /accounts/{accountName}/nonce:
    get:
      operationId: GetNonce
      parameters:
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Accounts
  /accounts/{accountName}/balance:
    get:
      operationId: GetBalance
      parameters:
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: chainId
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Accounts
  /accounts/{accountName}/transfer-eth:
    post:
      operationId: TransferEth
      parameters:
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Accounts
  /accounts/{accountName}/sign-message:
    post:
      operationId: SignMessage
      parameters:
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignMessage'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Accounts
  /accounts/{accountName}/sign-transaction:
    post:
      operationId: SignTransaction
      parameters:
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Accounts
  /accounts/{accountName}/sign-typed-data:
    post:
      operationId: SignTypedData
      parameters:
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignTypedData'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Accounts
  /accounts:
    get:
      operationId: ListAccounts
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Accounts
    post:
      operationId: CreateAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Accounts
  /accounts/{accountName}:
    delete:
      operationId: DeleteAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Accounts
    get:
      operationId: GetAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Accounts
  /accounts/{accountName}/deploy:
    post:
      operationId: DeployContract
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Accounts
  /accounts/{accountName}/broadcast-tx:
    post:
      operationId: BroadcastTx
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BroadcastInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Accounts
  /aave/{name}/lend:
    post:
      operationId: Lend
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AaveInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Aave
  /aave/{name}/borrow:
    post:
      operationId: Borrow
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AaveInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Aave
  /aave/{name}/user-reserve-data:
    post:
      operationId: UserReserveData
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AaveInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Aave
  /aave/{name}/repay:
    post:
      operationId: Repay
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AaveInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Aave
  /bitcoin:
    get:
      operationId: ListBitcoinAccounts
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Bitcoin
    post:
      operationId: CreateBitcoinAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BitcoinInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Bitcoin
  /bitcoin/{accountName}:
    get:
      operationId: GetBitcoinAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Bitcoin
  /bitcoin/{accountName}/sign-tx:
    post:
      operationId: SignBitcoinTransaction
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BitcoinTransactionInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Bitcoin
  /bitcoincash:
    get:
      operationId: ListBitcoinCashAccounts
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - bitcoincash
    post:
      operationId: CreateBitcoinCashAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BitcoinCashInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - bitcoincash
  /bitcoincash/{accountName}:
    get:
      operationId: GetBitcoinCashAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - bitcoincash
  /bitcoincash/{accountName}/sign-tx:
    post:
      operationId: SignBitcoinCashTransaction
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BitcoinCashTransactionInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - bitcoincash
  /conveyorfinance/{name}/swap:
    post:
      operationId: Swap
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenSwapParams'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConveyorFinanceControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - ConveyorFinance
  /cosmos:
    get:
      operationId: ListCosmosAccounts
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Cosmos
    post:
      operationId: CreateCosmosAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CosmosInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Cosmos
  /cosmos/{accountName}:
    get:
      operationId: GetCosmosAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Cosmos
  /cosmos/{accountName}/sign-tx:
    post:
      operationId: SignCosmosTransaction
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CosmosTransactionInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Cosmos
  /dogecoin:
    get:
      operationId: ListDogeCoinAccounts
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - DogeCoin
    post:
      operationId: CreateDogeCoinAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DogeCoinInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - DogeCoin
  /dogecoin/{accountName}:
    get:
      operationId: GetDogeCoinAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - DogeCoin
  /dogecoin/{accountName}/sign-tx:
    post:
      operationId: SignDogeCoinTransaction
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DogeCoinTransactionInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - DogeCoin
  /ens/resolve:
    post:
      operationId: Resolve
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnsResolveInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - ENS
  /eos:
    get:
      operationId: ListEosAccounts
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - eos
    post:
      operationId: CreateEosAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EosInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - eos
  /eos/{accountName}:
    get:
      operationId: GetEosAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - eos
  /eos/{accountName}/sign-tx:
    post:
      operationId: SignEosTransaction
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EosTransactionInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - eos
  /erc1155/{name}/balance-of:
    post:
      operationId: BalanceOf
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc1155Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - ERC1155
  /erc1155/{name}/balance-of-batch:
    post:
      operationId: BalanceOfBatch
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc1155Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - ERC1155
  /erc1155/{name}/set-approval-for-all:
    post:
      operationId: SetApprovalForAll
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc1155Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - ERC1155
  /erc1155/{name}/is-approved-for-all:
    post:
      operationId: IsApprovedForAll
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc1155Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - ERC1155
  /erc1155/{name}/safe-transfer-from:
    post:
      operationId: SafeTransferFrom
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc1155Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - ERC1155
  /erc1155/{name}/safe-batch-transfer-from:
    post:
      operationId: SafeBatchTransferFrom
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc1155Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - ERC1155
  /erc20/{name}/name:
    post:
      operationId: NameErc20
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc20
  /erc20/{name}/symbol:
    post:
      operationId: SymbolErc20
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc20
  /erc20/{name}/decimals:
    post:
      operationId: DecimalsErc20
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc20
  /erc20/{name}/total-supply:
    post:
      operationId: TotalSupplyErc20
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc20
  /erc20/{name}/balance-of:
    post:
      operationId: BalanceOfErc20
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc20
  /erc20/{name}/allowance:
    post:
      operationId: AllowanceErc20
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc20
  /erc20/{name}/transfer:
    post:
      operationId: TransferErc20
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc20
  /erc20/{name}/approve:
    post:
      operationId: ApproveErc20
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc20
  /erc20/{name}/transfer-from:
    post:
      operationId: TransferFromErc20
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc20
  /erc4337/{accountName}/address:
    post:
      operationId: GetAddress
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc4337
  /erc4337/{accountName}/sign-broadcast-userop-tx:
    post:
      operationId: SignBroadcastUserOpTx
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc4337
  /erc721/{name}/token-uri:
    post:
      operationId: TokenUri
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc721Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc721
  /erc721/{name}/transfer:
    post:
      operationId: Transfer
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc721Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc721
  /erc721/{name}/transfer-from:
    post:
      operationId: TransferFrom
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc721Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc721
  /erc721/{name}/approve:
    post:
      operationId: Approve
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc721Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc721
  /erc721/{name}/get-approved:
    post:
      operationId: GetApproved
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc721Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc721
  /erc721/{name}/is-approved-for-all:
    post:
      operationId: IsApprovedForAll
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc721Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc721
  /erc721/{name}/name:
    post:
      operationId: Name
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc721Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc721
  /erc721/{name}/symbol:
    post:
      operationId: Symbol
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc721Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc721
  /erc721/{name}/balance-of:
    post:
      operationId: BalanceOf
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc721Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc721
  /erc721/{name}/owner-of:
    post:
      operationId: OwnerOf
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc721Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc721
  /erc721/{name}/safe-transfer-from:
    post:
      operationId: SafeTransferFrom
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc721Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc721
  /erc721/{name}/set-approval-for-all:
    post:
      operationId: SetApprovalForAll
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Erc721Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Erc721
  /litecoin:
    get:
      operationId: ListLitecoinAccounts
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Litecoin
    post:
      operationId: CreateLitecoinAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LitecoinInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Litecoin
  /litecoin/{accountName}:
    get:
      operationId: GetLitecoinAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Litecoin
  /litecoin/{accountName}/sign-tx:
    post:
      operationId: SignLitecoinTransaction
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LitecoinTransactionInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Litecoin
  /onramper/currencies:
    get:
      operationId: OnRamperGetSupportedCurrencies
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: type
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedCurrenciesResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - onramper
  /onramper/payment-types:
    get:
      operationId: OnRamperGetSupportedPaymentTypes
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: fiat
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: type
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedPaymentTypesCurrencyResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - onramper
  /onramper/payment-types/fiat:
    get:
      operationId: OnRamperGetSupportedPaymentTypesFiat
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: fiat
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedPaymentTypesCurrencyResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - onramper
  /onramper/defaults:
    get:
      operationId: OnRamperGetSupportedDefaultsAll
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: type
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedDefaultResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - onramper
  /onramper/assets:
    get:
      operationId: OnRamperGetSupportedAssets
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: source
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: country
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedAssetResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - onramper
  /onramper/onramps:
    get:
      operationId: OnRamperGetSupportedOnRampsAll
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSupportedOnRampsResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - onramper
  /onramper/quotes/buy:
    get:
      operationId: OnRamperGetQuotesBuy
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: fiat
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: crypto
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: amount
        required: true
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: paymentMethod
        required: false
        schema:
          default: creditcard
          type: string
        style: form
      - explode: true
        in: query
        name: uuid
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: clientName
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: country
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quotes'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - onramper
  /onramper/quotes/sell:
    get:
      operationId: OnRamperGetQuotesSell
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: fiat
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: crypto
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: amount
        required: true
        schema:
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: paymentMethod
        required: false
        schema:
          default: creditcard
          type: string
        style: form
      - explode: true
        in: query
        name: uuid
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: clientName
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: country
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellQuotes'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - onramper
  /onramper/fund/${accountName}:
    post:
      operationId: OnRamperCheckout
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - onramper
  /payment/chains:
    get:
      operationId: PaymentGetAvailableChains
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - payment
  /payment:
    get:
      operationId: PaymentGetAllPaymentIntents
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PaymentIntentResponse'
                type: array
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - payment
    post:
      operationId: PaymentCreatePaymentIntent
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentIntentInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntentResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - payment
  /payment/{id}:
    delete:
      operationId: PaymentDeletePaymentIntent
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntentResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - payment
    get:
      operationId: PaymentGetPaymentIntent
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntentResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - payment
    put:
      operationId: PaymentUpdatePaymentIntent
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentIntentInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntentResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - payment
  /payment/webhook/{id}:
    post:
      operationId: MoralisWebhook
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IWebhook'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - payment
  /payment/tatum/webhook/{id}:
    post:
      operationId: TatumWebhook
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema: {}
        required: true
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - payment
  /ping:
    get:
      operationId: GetMessage
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingResponse'
          description: Ok
      security: []
  /ripple:
    get:
      operationId: ListRippleAccounts
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - ripple
    post:
      operationId: CreateRippleAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RippleInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - ripple
  /ripple/{accountName}:
    get:
      operationId: GetRippleAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - ripple
  /ripple/{accountName}/sign-tx:
    post:
      operationId: SignRippleTransaction
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RippleTransactionInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - ripple
  /solana:
    get:
      operationId: ListSolanaAccounts
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Solana
    post:
      operationId: CreateSolanaAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolanaInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Solana
  /solana/{accountName}:
    get:
      operationId: GetSolanaAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Solana
  /solana/{accountName}/sign-tx:
    post:
      operationId: SignSolanaTransaction
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolanaTransactionInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Solana
  /tron:
    get:
      operationId: ListTronAccounts
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Tron
    post:
      operationId: CreateTronAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TronInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Tron
  /tron/{accountName}:
    get:
      operationId: GetTronAccount
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Tron
  /tron/{accountName}/sign-tx:
    post:
      operationId: SignTronTransaction
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: accountName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TronTransactionInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - Tron
  /uniswap/{name}/add-liquidity:
    post:
      operationId: AddLiquidity
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UniswapInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - UniSwap
  /uniswap/{name}/remove-liquidity:
    post:
      operationId: RemoveLiquidity
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UniswapInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - UniSwap
  /uniswap/{name}/swap-exact-tokens-for-tokens:
    post:
      operationId: SwapExactTokensForTokens
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UniswapInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - UniSwap
  /uniswap/{name}/swap-exact-eth-for-tokens:
    post:
      operationId: SwapExactETHForTokens
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UniswapInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - UniSwap
  /yearn/{name}/add-liquidity:
    post:
      operationId: AddLiquidity
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - yearn
  /yearn/{name}/remove-liquidity:
    post:
      operationId: RemoveLiquidity
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - yearn
  /yearn/{name}/add-liquidity-weth:
    post:
      operationId: AddLiquidityWeth
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - yearn
  /yearn/{name}/remove-liquidity-weth:
    post:
      operationId: RemoveLiquidityWeth
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InputBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountControllerResponse'
          description: Ok
      security:
      - BearerAuth: []
      - Oauth2: []
      - ApiKeyAuth: []
      tags:
      - yearn
components:
  examples: {}
  headers: {}
  parameters: {}
  requestBodies: {}
  responses: {}
  schemas:
    GetSwapDto:
      additionalProperties: false
      example:
        amount: amount
        mainRouteParts: mainRouteParts
        dst: dst
        allowPartialFill: true
        receiver: receiver
        src: src
        fee: fee
        complexityLevel: complexityLevel
        gasLimit: gasLimit
        referrer: referrer
        includeProtocols: true
        chainId: 6.027456183070403
        permit: permit
        parts: parts
        from: from
        includeTokensInfo: true
        disableEstimate: true
        slippage: 0.8008281904610115
        protocols: protocols
        compatibility: true
        connectorTokens: connectorTokens
        gasPrice: gasPrice
      properties:
        src:
          type: string
        dst:
          type: string
        amount:
          type: string
        from:
          type: string
        slippage:
          format: double
          type: number
        protocols:
          type: string
        fee:
          type: string
        disableEstimate:
          type: boolean
        permit:
          type: string
        includeTokensInfo:
          type: boolean
        includeProtocols:
          type: boolean
        compatibility:
          type: boolean
        allowPartialFill:
          type: boolean
        parts:
          type: string
        mainRouteParts:
          type: string
        connectorTokens:
          type: string
        complexityLevel:
          type: string
        gasLimit:
          type: string
        gasPrice:
          type: string
        referrer:
          type: string
        receiver:
          type: string
        chainId:
          format: double
          type: number
      required:
      - amount
      - dst
      - from
      - slippage
      - src
      type: object
    NonceResponse:
      additionalProperties: false
      properties:
        nonce:
          format: double
          type: number
      required:
      - nonce
      type: object
    BalanceResponse:
      additionalProperties: false
      properties:
        balance:
          type: string
      required:
      - balance
      type: object
    Tx:
      additionalProperties: false
      example:
        gas_price: gas_price
        blob_hashes:
        - blob_hashes
        - blob_hashes
        chain_id: 5.637376656633329
        data: data
        gas_fee_cap: gas_fee_cap
        type: 5.962133916683182
        blob_gas_fee_cap: blob_gas_fee_cap
        nonce: 2.3021358869347655
        r: r
        gas_tip_cap: gas_tip_cap
        s: s
        v: v
        gas: gas
        blob_gas: blob_gas
        from: from
        to: to
        value: value
      properties:
        type:
          format: double
          type: number
        chain_id:
          format: double
          type: number
        data:
          type: string
        gas:
          type: string
        gas_price:
          type: string
        gas_tip_cap:
          nullable: true
          type: string
        gas_fee_cap:
          nullable: true
          type: string
        value:
          type: string
        nonce:
          format: double
          type: number
        from:
          type: string
        to:
          nullable: true
          type: string
        blob_gas:
          nullable: true
          type: string
        blob_gas_fee_cap:
          nullable: true
          type: string
        blob_hashes:
          items:
            type: string
          nullable: true
          type: array
        v:
          type: string
        r:
          type: string
        s:
          type: string
      type: object
    TransactionRequest:
      additionalProperties: false
      example:
        data: data
        maxPriorityFeePerGas: maxPriorityFeePerGas
        from: from
        to: to
        maxFeePerGas: maxFeePerGas
        nonce: nonce
        value: value
      properties:
        nonce:
          type: string
        data:
          type: string
        value:
          type: string
        to:
          type: string
        from:
          type: string
        maxFeePerGas:
          type: string
        maxPriorityFeePerGas:
          type: string
      type: object
    TransactionData:
      additionalProperties: false
      example:
        signed_transaction: signed_transaction
        raw_transaction: raw_transaction
        moon_scan_url: moon_scan_url
        signature: signature
        signed_message: signed_message
        userop_transaction: userop_transaction
        userOps:
        - data: data
          maxPriorityFeePerGas: maxPriorityFeePerGas
          from: from
          to: to
          maxFeePerGas: maxFeePerGas
          nonce: nonce
          value: value
        - data: data
          maxPriorityFeePerGas: maxPriorityFeePerGas
          from: from
          to: to
          maxFeePerGas: maxFeePerGas
          nonce: nonce
          value: value
        transaction_hash: transaction_hash
        transaction:
          gas_price: gas_price
          blob_hashes:
          - blob_hashes
          - blob_hashes
          chain_id: 5.637376656633329
          data: data
          gas_fee_cap: gas_fee_cap
          type: 5.962133916683182
          blob_gas_fee_cap: blob_gas_fee_cap
          nonce: 2.3021358869347655
          r: r
          gas_tip_cap: gas_tip_cap
          s: s
          v: v
          gas: gas
          blob_gas: blob_gas
          from: from
          to: to
          value: value
      properties:
        moon_scan_url:
          type: string
        transaction_hash:
          type: string
        signed_transaction:
          type: string
        signed_message:
          type: string
        raw_transaction:
          type: string
        signature:
          type: string
        transaction:
          $ref: '#/components/schemas/Tx'
        userOps:
          items:
            $ref: '#/components/schemas/TransactionRequest'
          type: array
        userop_transaction:
          type: string
      required:
      - signed_transaction
      - transaction_hash
      type: object
    Transaction:
      example:
        signed_transaction: signed_transaction
        data: data
        raw_transaction: raw_transaction
        signature: signature
        moon_scan_url: moon_scan_url
        userop_transaction: userop_transaction
        transactions:
        - signed_transaction: signed_transaction
          raw_transaction: raw_transaction
          moon_scan_url: moon_scan_url
          signature: signature
          signed_message: signed_message
          userop_transaction: userop_transaction
          userOps:
          - data: data
            maxPriorityFeePerGas: maxPriorityFeePerGas
            from: from
            to: to
            maxFeePerGas: maxFeePerGas
            nonce: nonce
            value: value
          - data: data
            maxPriorityFeePerGas: maxPriorityFeePerGas
            from: from
            to: to
            maxFeePerGas: maxFeePerGas
            nonce: nonce
            value: value
          transaction_hash: transaction_hash
          transaction:
            gas_price: gas_price
            blob_hashes:
            - blob_hashes
            - blob_hashes
            chain_id: 5.637376656633329
            data: data
            gas_fee_cap: gas_fee_cap
            type: 5.962133916683182
            blob_gas_fee_cap: blob_gas_fee_cap
            nonce: 2.3021358869347655
            r: r
            gas_tip_cap: gas_tip_cap
            s: s
            v: v
            gas: gas
            blob_gas: blob_gas
            from: from
            to: to
            value: value
        - signed_transaction: signed_transaction
          raw_transaction: raw_transaction
          moon_scan_url: moon_scan_url
          signature: signature
          signed_message: signed_message
          userop_transaction: userop_transaction
          userOps:
          - data: data
            maxPriorityFeePerGas: maxPriorityFeePerGas
            from: from
            to: to
            maxFeePerGas: maxFeePerGas
            nonce: nonce
            value: value
          - data: data
            maxPriorityFeePerGas: maxPriorityFeePerGas
            from: from
            to: to
            maxFeePerGas: maxFeePerGas
            nonce: nonce
            value: value
          transaction_hash: transaction_hash
          transaction:
            gas_price: gas_price
            blob_hashes:
            - blob_hashes
            - blob_hashes
            chain_id: 5.637376656633329
            data: data
            gas_fee_cap: gas_fee_cap
            type: 5.962133916683182
            blob_gas_fee_cap: blob_gas_fee_cap
            nonce: 2.3021358869347655
            r: r
            gas_tip_cap: gas_tip_cap
            s: s
            v: v
            gas: gas
            blob_gas: blob_gas
            from: from
            to: to
            value: value
        userOps:
        - data: data
          maxPriorityFeePerGas: maxPriorityFeePerGas
          from: from
          to: to
          maxFeePerGas: maxFeePerGas
          nonce: nonce
          value: value
        - data: data
          maxPriorityFeePerGas: maxPriorityFeePerGas
          from: from
          to: to
          maxFeePerGas: maxFeePerGas
          nonce: nonce
          value: value
        transaction:
          gas_price: gas_price
          blob_hashes:
          - blob_hashes
          - blob_hashes
          chain_id: 5.637376656633329
          data: data
          gas_fee_cap: gas_fee_cap
          type: 5.962133916683182
          blob_gas_fee_cap: blob_gas_fee_cap
          nonce: 2.3021358869347655
          r: r
          gas_tip_cap: gas_tip_cap
          s: s
          v: v
          gas: gas
          blob_gas: blob_gas
          from: from
          to: to
          value: value
        transaction_hash: transaction_hash
      properties:
        userop_transaction:
          type: string
        userOps:
          items:
            $ref: '#/components/schemas/TransactionRequest'
          type: array
        transaction:
          $ref: '#/components/schemas/Tx'
        signature:
          type: string
        moon_scan_url:
          type: string
        transactions:
          items:
            $ref: '#/components/schemas/TransactionData'
          type: array
        data:
          nullable: true
          type: string
        raw_transaction:
          type: string
        signed_transaction:
          type: string
        transaction_hash:
          type: string
      type: object
    AccountResponse:
      additionalProperties: false
      properties:
[...]
